.swiper {
  position: relative;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-break: none;
  margin-left: 5vh;
  margin-right: 5vh;
  border-radius: 2rem;
  
}

@media screen and (max-width: 768px) {
  .swiper {
    height: 30vh;
    margin-left: 2.5vh;
    margin-right:  2.5vh;
  }
}

@media screen and (min-width: 1200px) {
    .swiper {
      height: 50vh;
      margin: 0 calc((100vw - 1000px) / 2);
    }
}

.image {
  display: block;
  width: 50vw;
  height: 50vh;
  object-fit: cover;
}
