.propertyItem {
  height: 50rem;
  display: flex;

  align-items: flex-start;
  word-break: none;
  border-radius: 2rem;
}

@media screen and (min-width: 800px) {
  .propertyItem {
    height: 30rem;
    margin: 5rem calc((100vw - 1000px) / 2);
  }
  .propertyitemimage {
    width: 100%;
  }
  .newLine {
    display: none !important;
  }
}

@media screen and (max-width: 800px) {
  .propertyItem {
    flex-direction: column;
    margin: 0!important;
  }
  .propertyitemimage {
    width: 100% !important;
    margin-bottom: 20px !important;
  }
}

@media screen and (max-width: 900px) {
  .propertyItem {
    margin: 5rem 5rem;
  }

}

.propertyitemimage {
  height: 30rem;
  display: block;
  object-fit: cover;
}

.propertyItemText{
    padding-top: 0!important;
}

.bestsellerIcon{
    margin-bottom: 16px!important;
}

.ButtonProperty{
    margin-left: 15px!important;
    
}